@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
body {
	background-color: #f1f1f1;
	color: #00b3e3;
	font-family: 'Lora', serif;
	font-size: 100%;
	line-height: 1.5em;
	font-weight: normal;
}
header img {
	float:left;
}
nav {
	float:right;
}
section#splash {
	background:url(../images/ChairShot.jpg) no-repeat right;
	background-size:cover;
	height:75vh;
	padding:5em;
}
h1,h2,h3 {
	color: #80bd01;
}
